#main {
  position: absolute;
  width: 340px;
  height: 300px;
  left: 50%;
  top: 50%;
  margin-left: -170px;
  margin-top: -150px;
  #background-color: #fff;
}

a{outline:none;}
a:active{noOutline:expression_r(this.onFocus=this.blur());}
:focus{outline:0;} 
