.white_content {
     display: none;
     position: absolute;
     border-radius: 13px;
     padding-top: 20px;
     background-color: #3C2B68;
     z-index:1002;
     overflow:hidden;
     width: 100%;
     height: 1080px;
     left: 50%;
     top: 50%;
     margin-left: -50%;
     margin-top: -100px;
     box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0.3);
}