/* CSS Reset (based on Bootstrap Reboot v4.3.1 | MIT) */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Hiragino Sans GB", "simhei", "Source Han Sans";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	color: #3798fb;
	background-color: #120B24;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[tabindex="-1"]:focus:not(:focus-visible) {
	outline: 0 !important;
}

hr {
	margin: 1.25rem 0;
	color: inherit;
	background-color: currentColor;
	border-radius: 1em;
	border: 2px solid #372D52;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.375rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1.125rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

abbr[title] {
	text-decoration: none;
	cursor: help;
	border-bottom: 1px dotted #101010;
}

address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit;
}

ol,
ul {
	padding-left: 2rem;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: .5rem;
	margin-left: 0;
}

blockquote {
	margin: 0 0 1rem 1rem;
}

b,
strong {
	font-weight: bolder;
}

small {
	font-size: 0.875em;
}

sub,
sup {
	position: relative;
	font-size: 0.75em;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

a {
	color: #f8ae00;
	text-decoration: none;
}

a:hover {
	color: #d1d1d1;
	text-decoration: none;
}

a:not([href]),
a:not([href]):hover {
	color: inherit;
	text-decoration: none;
}

pre,
code,
kbd,
samp {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 1em;
}

pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
}

pre code {
	font-size: inherit;
	color: inherit;
	word-break: normal;
}

code {
	color: #D1D1D1;
	word-wrap: break-word;
}

a > code {
	color: inherit;
}

kbd {
	padding: 0.125rem 0.1875rem;
	color: #111;
	background-color: #888;
}

kbd kbd {
	padding: 0;
	font-size: 1em;
}

figure {
	margin: 0 0 1rem;
}

img {
	vertical-align: middle;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

caption {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	color: #6c757d;
	text-align: left;
	caption-side: bottom;
}

label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

button {
	border-radius: 0;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

select {
	word-wrap: normal;
}

[list]::-webkit-calendar-picker-indicator {
	display: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
	cursor: pointer;
}

::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
	-webkit-appearance: textfield;
}

textarea {
	overflow: auto;
	resize: vertical;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	float: left;
	width: 100%;
	padding: 0;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	line-height: inherit;
	color: inherit;
	white-space: normal;
}

mark {
	background-color: #f8ae00;
}

progress {
	vertical-align: baseline;
}

::-webkit-datetime-edit {
	overflow: visible;
	line-height: 0;
}

[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: textfield;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
	padding: 0;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

output {
	display: inline-block;
}

summary {
	display: list-item;
	cursor: pointer;
}

template {
	display: none;
}

main {
	display: block;
}

[hidden] {
	display: none !important;
}
html {
	overflow: auto;
	background: #120B24 url("/img/bgm.svg") repeat-x;
}

main {
    margin-top: 6px;
}

body {
	max-width: 1100px;
	margin: 0 auto;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 480px) {
	ol,
	ul,
	dl {
		padding-left: 2.5rem;
	}
}

blockquote {
	padding: 0 1rem;
	border-left: 5px solid #f8ae00;
}

blockquote footer {
	text-align: right;
}

pre {
	padding: 1.25rem;
	background-color: #29223D;
}

code {
	padding: 1px 3px;
	background-color: #332B4D;
	border-radius: 2px;
}

pre code {
	padding: 0;
	background-color: inherit;
	border-radius: 0;
}

kbd {
	font-size: 13px;
	color: #636363;
	vertical-align: middle;
	background: #FFF;
	border: 3px outset #CCC;
	padding: 2px;
	border-radius: 0.3em;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.23);
}

figure {
	display: inline-block;
}

figcaption {
	padding: .5rem;
	background-color: #111;
}

img {
	max-width: 100%;
}

table {
	width: 100%;
	margin-bottom: 1rem;
	border-spacing: 0;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

td,
th {
	padding: .3125rem .625rem;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

th {
	font-weight: 700;
}

.mt {
	margin-top: 1rem;
}

.mb {
	margin-bottom: 1rem;
}

.mla {
	margin-left: auto;
}

.tal {
	text-align: left;
}

.tar {
	text-align: right;
}

.btn {
	background-color: #372D52;
	border-radius: 3px;
}

.btn:hover {
	color: #D1D1D1;
	background-color: #372D52;
}

/* Header */
.header {
	margin: 0 0 .3125rem;
	overflow: auto;
	background-color: #001c38;
}

.block {
	padding: .875rem;
	margin: .1875rem 0;
	color: #D1D1D1;
	background-color: #120B24;
	border-color: #120B24;
	border-style: solid;
	border-width: 1px 0;
	border-bottom: 1px solid #372D52;
}

@media screen and (min-width: 480px) {
	.block {
		margin: .625rem .3125rem;
		border-width: 1px;
	}
}

.logo {
	display: inline-block;
	margin-top: .625em;
	margin-left: .875em;
	margin-right: .875em;
	font-size: 16px;
	font-weight: 700;
}

.logo:hover {
	color: #d2008e;
	text-decoration: none;
}

.js .logo {
	float: left;
}

/* Menu */
.main-menu {
	display: block;
	font-size: 0;
	font-weight: 700;
}

.no-js .main-nav__btn {
	display: none;
}

.main-nav__btn {
	display: block;
	float: right;
	padding: 0;
	font-size: 1em;
	cursor: pointer;
	background-color: #001c38;
	border: 0;
	outline: 0;
}

.main-nav__btn:focus,
.main-nav__btn:hover {
	color: #000;
}

.main-nav__btn-box {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
}

:focus > .main-nav__btn-box {
	box-shadow: inset 0 0 1px 3px #4285f4;
}

button:not(:-moz-focusring):focus > .main-nav__btn-box {
	box-shadow: none;
}

.main-nav__btn:focus,
.main-nav__btn-box:focus {
	outline: none;
}

.main-nav__btn .icon-menu__burger {
	display: inline;
}

.main-nav__btn .icon-menu__x {
	display: none;
}

.main-nav__btn--active .icon-menu__burger {
	display: none;
}

.main-nav__btn--active .icon-menu__x {
	display: inline;
}

.main-nav__list {
	font-size: 0;
}

.main-nav__item {
	font-size: 1rem;
	font-weight: 700;
	border-top: 1px solid #333;
}

.main-nav__item:hover {
	background-color: #163C61;
}

.main-nav__item--active {
	padding: .625rem;
}

.main-nav__item--active:hover {
	background-color: transparent;
}

.main-nav__link {
	display: block;
	padding: .625rem .875rem;
}

.main-nav__link:hover {
	color: #fff;
	text-decoration: none;
}

.main-nav__list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.js .main-nav__list {
	display: none;
}

.js .main-nav__btn {
	display: block;
}

.main-nav__list.main-nav__list--active {
	display: block;
	width: 100%;
	clear: both;
	background-color: #cfcfcf;
}

@media (min-width: 920px) {
	.header {
		display: flex;
		height: 42px;
	}

	.logo {
		display: inline-block;
	}

	.js .main-nav__list {
		display: block;
	}

	.js .main-nav__btn {
		display: none;
	}

	.main-nav__btn {
		display: none;
	}

	.main-nav {
		display: flex;
	}

	.main-nav__item {
		display: inline-block;
		border: 0;
	}

	.main-nav--right {
		margin-left: auto;
	}

	.main-nav__list.main-nav__list--active {
		position: initial;
		border: 0;
	}

	.main-nav__link {
		padding: .625rem;
	}
}

/* Taxonomies */
.page {
	margin-bottom: .3125rem;
}

.page__title {
	margin-bottom: 0;
}

.page__content {
	margin-top: 1rem;
}

.page__content--notitle {
	margin: 0;
}

.page__content p:last-child {
	margin-bottom: 0;
}

/* Cards UI */
.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	display: flex;
	width: 100%;
}

.card:first-child {
	#border-top: 1px solid #333;
}

.card__box {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	border-width: 0 0 1px;
}

@media screen and (min-width: 480px) {
	.card {
		padding: .3125rem;
	}

	.card:first-child {
		border: 0;
	}

	.card__box {
		border-width: 1px;
	}
}

@media screen and (min-width: 720px) {
	.card--2col {
		width: 50%;
	}

	.card--3col {
		width: 50%;
	}
}

@media screen and (min-width: 860px) {
	.card--3col {
		width: 33.333%;
	}
}

/* Entry */
.title-excerpt {
	font-size: 1.25rem;
}

.entry__featured {
	width: 100%;
	min-height: 1px; /* Workaround for IE11 flexbox img height issue https://github.com/philipwalton/flexbugs/issues/75 */
	text-align: center;
}

.featured__figcaption {
	width: 100%;
	padding: 1rem;
	text-align: left;
	background-color: #111;
}

.featured__credit::before {
	content: "© ";
}

.featured__credit {
	font-size: .875rem;
	font-style: normal;
	color: #888;
}

.entry__content {
	flex: 1 0 auto;
	margin: 0;
	color: #D1D1D1;
    overflow:hidden;
}

.entry__content p:last-child {
	margin-bottom: 0;
}

.title-bottom {
	margin-bottom: 30px;
}

.entry__meta {
	font-size: .875rem;
	color: #999;
}

.entry__meta-published,
.entry__meta-lastmod {
	display: block;
}

.cctags {
	display: inline-block;
}

.entry__tag {
	display: inline-block;
	padding: .25rem .5rem;
	margin: .25rem;
	line-height: 1.5;
	margin-left: 0;
}

.entry__cc {
	display: inline-block;
	padding: .25rem .5rem;
	margin: .25rem .25rem 0 0;
	line-height: 1.5;
}

.ccimg {
	width: 96px;
	height: 18px;
	margin-top: -2.5px;
}

.toc {
	padding: .5rem;
	margin-bottom: 1rem;
	color: #f8ae00;
	list-style: none;
	background-color: #111;
}

.toc[open] {
	color: #000;
}

.toc__title {
	padding: .25rem;
	font-weight: 700;
}

.toc nav {
	padding: .5rem 0 .5rem .5rem;
}

.toc ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.toc ul ul ul a {
	padding-left: 25px;
}

.toc ul ul ul ul a {
	padding-left: 45px;
}

.toc ul ul ul ul ul a {
	padding-left: 65px;
}

.toc ul ul ul ul ul ul a {
	padding-left: 85px;
}

.entry__footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 1.5rem;
}

.entry__share {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	margin: 0 -.25rem auto;
}

@media screen and (max-width: 720px) {
	.cctags {
		display: inline-block;
		margin-top: 2.5rem;
		}
}

@media screen and (min-width: 720px) {
	.entry__share {
		flex: 1 0 35%;
		justify-content: flex-end;
	}
}

.share__link {
	margin: .25rem;
	font-size: 0;
}

.share__link:hover {
	margin: .25rem;
	text-decoration: none;
}

.share__icon {
	width: 32px;
	height: 32px;
	fill: #f8ae00;
	stroke: #f8ae00;
}

.share__icon:hover {
	fill: #000;
	stroke: #000;
}

.breadcrumb {
	padding: .875rem;
	margin: .1875rem 0 -.1875rem;
	color: #c3c3c3;
	border-width: 1px 0 0;
}

.breadcrumb--separated {
	margin: .1875rem 0 .3125rem;
	border-width: 1px 0;
}

@media screen and (min-width: 480px) {
	.breadcrumb {
		margin: .625rem .3125rem -.625rem;
		border-width: 1px 1px 0;
	}

	.breadcrumb--separated {
		margin: .625rem .3125rem .3125rem;
		border-width: 1px;
	}
}

.breadcrumb__list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}

.breadcrumb__item {
	display: flex;
}

.breadcrumb__item::after {
	display: block;
	margin: 0 .3125rem;
	content: "›";
}

.alignleft {
	float: left;
	margin: 1rem 1rem 1rem 0;
}

.alignright {
	float: right;
	margin: 1rem 0 1rem 1rem;
}

.center {
	text-align: center;
}

/* Authorbox */
.author {
	display: flex;
	align-items: flex-start;
}

.author__avatar {
	margin-right: .875rem;
	margin-bottom: 0;
}

.author__img {
	border-radius: 50%;
}

.author__body {
	flex: 1;
}

.author__name {
	margin-bottom: .625rem;
	font-weight: 700;
}

/* Comments */
.comments {
	margin-top: .625rem;
	margin-bottom: .625rem;
}

/* Related */
.related {
	margin-top: .625rem;
}

/* Pagination */
.pagination {
	margin: .3125rem 0;
	text-align: center;
	background-color: #120b24;
	border-color: #120b24;
}

@media screen and (min-width: 480px) {
	.pagination {
		margin: .3125rem .3125rem .625rem;
	}
}

.pagination__item {
	display: inline-block;
	padding: .25rem .625rem;
	font-weight: 700;
	border: 1px solid;
}

.pagination__item--gap {
	color: #888;
	cursor: default;
	border-color: #888;
}

/* 404 */
.page404__title {
	font-size: 2.25rem;
	font-weight: 700;
}

.page404__lead {
	margin-bottom: 2rem;
	font-size: 1.5rem;
}

.page404__link {
	font-size: 1.5rem;
}

/* Empty state */
.empty__icon {
	margin-bottom: 2rem;
	font-size: 3.5rem;
}

.empty__tip {
	padding: .5rem;
	margin: 4rem 0 0;
	background-color: #202020;
}

/* Footer */
.footer {
	padding: .625rem 0;
	margin: .3125rem 0 0;
	font-size: .8125rem;
	color: #888;
	text-align: center;
	border-top: 0px solid #fff;
}

.footer__social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: .5rem;
}

.social__link {
	margin: .26rem;
	font-size: 0;
	background-color: #cfcfcf;
	fill: #666;
	border-radius: 2px;
}

.social__link:hover {
	fill: #101010;
}

.social__icon {
	width: 38px;
	height: 38px;
}

.footer__links {
	margin-bottom: .5rem;
}

@media screen and (min-width: 480px) {
	.footer {
		margin: .3125rem .3125rem 0;
	}
}

button {
  border: 1px solid #b9b9b9;
  border-radius: 12px;
  padding: 3px 10px;
  font-size: 17px;
  background-color: #f7f7f7;
  color: #101010;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
}

button:hover{
  background-color: #93b9fd;
}

button .main-nav__btn-box:hover{
  background-color: #163C61;
}

.pagination__buttons {
  border: 1px solid #40355E;
  border-radius: 12px;
  padding: 8px 8px;
  background-color: #29223D;
}

/* button */
.next .button__icon {
    margin-left: 3px;
  }

.previous .button__icon {
    margin-right: 3px;
}

@media screen and (max-width: 420px){
.button__text{ display:block; overflow:hidden; width:0; height:0; }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 8px;
  max-width: 40%;
  margin-left: 60px;
  margin-right: 60px;
  white-space: nowrap;
}

.bons:hover {
  border: 1px solid #93b9fd;
}

.bons-tetx {
	color: #000000;
}

.bons-tetx:hover {
	color: #000000;
}


.pagination__buttons {
    text-overflow: ellipsis;
    overflow: hidden;
}

.imgboa {
	border-radius: 2px;
	width: 30px;
	height: 15px;
}

.imgboa:hover {
	background-color: #fff;
}

.simgboa {
	width: 30px;
	height: 15px;
}

.simgboa:hover {
	background-color: #fff;
}

.post-pinned {
    vertical-align: inherit;
    width: 17px;
    height: 17px;
    }

.artwork img {
	width: 100%;
	height: auto;
	margin: 18px 0px 9px 0px;
}

.artworks img {
	width: 500px;
	height: auto;
	margin: 18px 9px 9px 9px;
}

#note {
	width: 100%;
	padding: 16px 16px;
	padding-left: 4em;
	color: #5A4C01;
	text-align: left;
	background-color: #FEE975;
	margin: 0 auto;
	border-radius: 0.6em;
}

.note-img {
	background: url("/img/note-img.svg") no-repeat 1em center;
}

#tips {
	width: 100%;
	padding: 16px 16px;
	padding-left: 4em;
	color: #12365A;
	text-align: left;
	background-color: #C8E4FF;
	margin: 0 auto;
	border-radius: 0.6em;
}

.tips-img {
	background: url("/img/tips-img.svg") no-repeat 1em center;
}

#license {
	width: 100%;
	padding: 16px 16px;
	color: #FF6E3B;
	text-align: center;
	font-weight: bold;
	border: 5px solid #FF6E3B;
	border-radius: 1em;
	margin: auto;
	margin-top: 150px;
}

#rcomm {
	width: 100%;
	padding: 16px 16px;
	color: #D1D1D1;
	text-align: left;
	background-color: #120B24;
	margin: 0 auto;
	border-top: 2px solid #3798FB;
	border-radius: 0.6em;
	margin-top: 1.5em;
}

.combtn {
	background-color: #372D52;
	border-radius: 3px;
}

.wlogo {
	width: 20px;
	height: 20px;
	margin-top: -0.2em;
}

.logoh:hover {
	border-radius: 0.6em;
	background-color: #163C61;
	height: 22px;
}

#main1 {
	float: left;
	margin-top: -0.1em;
}

.sponsor img {
	margin: 9px 9px 9px 9px;
}

#child2 img:hover {
	-webkit-transform: scale(1.2);
			transform: scale(1.2);
}

.img-group {
	position: relative;
	display: inline-block;
}

.img-tip {
	color: #FFF;
	font-size: 13px;
	top: 9px;
	position: absolute;
	display: none;
}

.img-group:hover .img-tip {
	display: block;
	width: 100%;
	text-align: center;
}

.afdimg {
	width: 260px;
	height: 73px;
}

.mhlist {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align:center;
}

.mhlist span {
	float: left;
	display: inline;
	margin: 10px;
}

.mhtit {
	font-size: 20px;
	margin-top: 0.3em;
	color: #D1D1D1;
}

.mhdis {
	font-size: 15px;
	color: #666;
}

.mhcbg {
	border: 6px solid #120B24;
}

.mhcbg:hover {
	background-color: #3C2D5E;
	border: 6px solid #3C2D5E;
	border-radius: 0 0 1em 1em;
}

.fbox {
	float: left;
	display: inline;
	margin: 10px;
}

.small-hide {
	display: none;
}

a{outline:none;}
a:active{noOutline:expression_r(this.onFocus=this.blur());}
:focus{outline:0;}
}
/* Print */
@media print {
	.entry__content a,
	.entry__meta a,
	.entry__tag {
		color: #000;
		text-decoration: underline;
	}

	.logo,
	.block,
	.entry__title,
	.entry__title-link,
	.meta-categories__link,
	.entry__meta,
	.entry__content {
		color: #000;
	}

	.main-nav,
	.comments,
	.entry__toc,
	.related,
	.footer__copyright-credits {
		display: none;
	}

	.header,
	.block {
		border: 0;
	}

	mark {
		background-color: #25a;
	}

	blockquote {
		border-color: #000;
	}
}
